{{!< default}}
<div class="container">
	<div class="jumbotron"><img style="width: 100%;padding: 10px;" src="https://s.fishki.net/upload/users/2015/12/31/470208/2915c44f015b55811f43fa194d65b8ca.jpg" width="160">
		<h1>Привет, Ринат!</h1>
		<p>Я тут поебался немношк и сделал вот это вот всё. Это, как ты уже, наверное, догадался - ссаный сайт на <a href='http://keystonejs.com' target='_blank'>keystone.js</a> !</p>
		<p>
			Развернуто всё это говно на с9 (да, амазон сжалился и дал мне обратно доступ до моих сладких контейнеров.)
			Сейчас давай не тяни кота за хуй и иди в с9, там я тебе уже расшарил доступ до контейнера. Подумай там, потрогай всё. Короче... изучай!
		</p>
		<hr>
		<p>Ты можешь потрогать админку, кстати.<br>Логин - <strong>user@keystonejs.com</strong><br>Пароль - <strong>userpassword</strong></p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">АДМИНКА</a></p>
		<hr>
		<p>
			И помни, <s>только ситхи всё возводят в абсолют</s> времени у нас мало, давай разбирайся тут и завтра начнём делать комьюнити!
		</p>
		<p style="font-size:14px;">
			p.s. не убивай процессы в консоли контейнера, там монга в одном, а в другом сам сервак кейстоуна.
		</p>
	</div>
</div>
